.wrapper {
  .breadcrumb-area {
    margin-bottom: 40px;
    border-top: 2px solid #ededed;
    border-bottom: 2px solid #ededed;

    .breadcrumb-outer {
      align-items: center;
      justify-content: space-between;
    }
    .breadcrumb-box {
      padding: 26px 0;
    }
  }
  .author-item-area {
    .author-item {
      overflow: hidden;

      .thumb {
        img {
          width: 100%;
        }
      }
      .content {
        padding: 50px;

        .meta-item {
          display: flex;

          .meta-categories {
            margin-right: 30px;

            a {
              background: #ffe7e9;
              border-radius: 5px;
              color: #e74d58;
              display: inline-block;
              line-height: 30px;
              padding: 0 14px;
              font-size: 14px;
              font-weight: 700;
            }
          }

          .meta-date {
            span {
              font-size: 14px;
              color: #777;

              i {
                padding-right: 5px;
              }
            }
          }
        }

        .title {
          font-size: 40px;
          line-height: 50px;
          letter-spacing: -1px;
          margin-top: 20px;
        }

        .meta-author {
          .auhtor {
            display: flex;
            align-items: center;
            gap: 10px;
            div {
              display: inline-block;
            }
            span {
              color: #777;

              span {
                color: #000;
                font-weight: 700;
              }
            }
          }
        }
      }

      .article-details-box {
        padding: 0 50px 50px;
        .article-details {
          font-size: 18px;
          line-height: 32px;
        }
        div {
          a {
            color: #e74d58;
          }
        }

        .article-comment-wrapper {
          margin-top: 20px;
          .article-comment-outer {
            margin-bottom: 10px;
            h5 {
              font-size: 16px;
              margin: 0;
            }
          }
        }
      }
    }
  }
  .article-related {
    margin-bottom: 30px;

    .article-item {
      margin-top: 14px;
    }
  }
}
