.wrapper {
  margin-top: 14px;

  .categories-section {
    display: flex;
    position: relative;
    justify-content: center;
    font-weight: 600;
    color: #666;
    padding: 14px 0;

    .categories-item {
      margin-right: 10px;
      &:hover {
        a {
          cursor: pointer;
          color: #f63a3a;
        }
      }
    }
  }

  .article-wrapper {
    .trending-section {
      width: 100%;

      .articles {
        position: relative;

        .article-outer {
          &:hover {
            .article {
              .article-content {
                .article-tag-outer {
                  .article-tag {
                    a {
                      background: #f63a3a;
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
          .article {
            margin: 20px 0;
            align-items: center;
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #eaeaea;

            .article-img {
              min-width: 116px;
              border-radius: 10px;
              overflow: hidden;

              img {
                border-radius: 10px;
                max-width: 100%;
              }
            }
            .article-content {
              .article-tag-outer {
                display: flex;
                gap: 10px;

                .article-tag {
                  display: inline-block;

                  a {
                    display: inline-block;
                    background: #ffeaea;
                    border-radius: 5px;
                    color: #f63a3a;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: capitalize;
                    padding: 0 15px;
                  }
                }

                .article-time {
                  margin-left: 5px;

                  span {
                    font-size: 12px;

                    i {
                      margin-right: 4px;
                    }
                  }
                }
              }

              .title {
                padding-top: 8px;

                h4 {
                  font-size: 17px;
                  line-height: 27px;

                  a {
                    color: #000;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
              }
            }
          }
        }
      }

      .categories {
        .header {
          border-bottom: 2px solid #ffeaea;
          position: relative;

          &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 100%;
            width: 0;
            height: 0;
            border-top: 10px solid #ffeaea;
            border-right: 10px solid transparent;
          }

          h4 {
            display: inline-block;
            background: #ffeaea;
            margin-bottom: 0;
            line-height: 30px;
            padding: 0 20px;
            font-size: 14px;
            font-weight: 700;
            color: #f63a3a;
          }
        }

        .category-list {
          margin-top: 50px;

          .category-item {
            background-size: cover;
            background-repeat: no-repeat;
            padding: 30px 20px;
            position: relative;
            z-index: 10;
            border-bottom: 1px solid #fff;

            &::before {
              position: absolute;
              content: '';
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              background: rgba(0, 0, 0, 0.5);
              z-index: -1;
            }

            a {
              display: flex;
              justify-content: space-between;

              span {
                display: inline-block;
                font-size: 14px;
                font-weight: 700;
                background: hsla(0, 0%, 100%, 0.6);
                color: #fff;
                padding: 0 20px;
                line-height: 30px;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }

  .main-posts-wrapper {
    margin: 26px 0 0 20px;
    .main-posts-outer {
      .main-posts-title {
        font-size: 30px;
        display: block;
        position: relative;
        margin-bottom: 30px;
        text-transform: capitalize;

        &::before {
          position: absolute;
          content: '';
          right: 0;
          width: 69%;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          height: 4px;
          background: #f63a3a;
        }
      }

      .main-articles-wrapper {
        margin-top: 20px;

        a {
          .article-item {
            margin-bottom: 15px;
          }
        }
      }
    }

    .about-me-wrapper {
      padding-left: 24px;

      .about-me-header {
        border-bottom: 2px solid #ffeaea;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          left: 0;
          top: 100%;
          width: 0;
          height: 0;
          border-top: 10px solid #ffeaea;
          border-right: 10px solid transparent;
        }

        h4 {
          display: inline-block;
          background: #ffeaea;
          margin-bottom: 0;
          line-height: 30px;
          padding: 0 20px;
          font-size: 14px;
          font-weight: 700;
          color: #f63a3a;
        }
      }
      .about-item {
        margin-top: 35px;

        .about-user {
          display: flex;

          .about-thumb {
            margin-right: 20px;
            max-width: 80px;
            height: 80px;

            img {
              width: 100%;
            }
          }

          .about-content {
            .about-user-title {
              font-size: 20px;
              margin-bottom: 0;
              text-transform: capitalize;
            }
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
