.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  max-height: min((100vh - 200px) - 60px, 734px);
  min-height: 100px;
  padding: 12px 0;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
}
