.comment-box {
  max-height: 350px;
  overflow-y: scroll;

  .comment-info-wrap {
    margin-top: 10px;
    display: flex;
    gap: 10px;

    .comment-user {
      width: 32px;
      height: 32px;
      object-fit: cover;
      border-radius: 50%;
      cursor: pointer;
      vertical-align: middle;
    }

    .comment-part {
      .comment {
        border-radius: 5px;
        padding: 5px;
        border: 1px solid #ddd;
        background-color: #f9f9f9;
        display: block;
        margin-bottom: 5px;
        max-width: 300px;
        word-wrap: break-word;

        .replies {
          margin-left: 20px;
        }
      }

      .comment-interactions-wrapper {
        display: flex;
        gap: 10px;
        font-weight: 600;
        font-size: 13px;
        margin-bottom: 3px;

        .comment-action {
          span {
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .comment-form {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-right: 22px;

    input[type='text'] {
      flex: 1;
      padding: 5px;
      height: 42px;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-right: 10px;
    }

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        color: #02356c;
      }

      svg {
        font-size: 22px;
      }
    }
  }
}
